<div class="dashboard container">
	<div class="row">
		<div class="dashitem col-md-4" data-toggle="modal" data-target="#todoDialog">
			<span class="glyphicon glyphicon-bell"></span>
			<br>
			<span class="dashitem-title">待办提醒</span>
		</div>
		<div class="dashitem col-md-4" data-toggle="modal" data-target="#annoDialog">
			<span class="glyphicon glyphicon-bullhorn"></span>
			<br>
			<span class="dashitem-title">交警公告</span>
		</div>
		<div class="dashitem col-md-4" data-toggle="modal" data-target="#flowerDialog">
			<span class="glyphicon glyphicon-tree-deciduous"></span>
			<br>
			<span class="dashitem-title">浇花提醒</span>
		</div>
	</div>
</div>

<todo-watcher></todo-watcher>
<anno-watcher></anno-watcher>
<water-reminder></water-reminder>