<div class="modal fade" id="flowerDialog" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<!--布局图-->
				<div class="canvas">
					<div *ngFor="let f of flowers" [style.left]="f.x" [style.top]="f.y" class="flower" [ngClass]="{'lg-flower':f.isLarge,'sm-flower':!f.isLarge}"
						data-toggle="tooltip" data-placement="right" title="{{f.description}}" (mouseover)="this.hoverId=f.id" (mouseleave)="this.hoverId=''"
						(click)="water(f.id)">
						<div class="dry" [ngClass]="{'hover':hoverId==f.id}" [style.height]="f.dry"></div>
						<div class="wet" [style.height]="f.wet"></div>
					</div>
				</div>
				<!--今天要浇水-->
				<div id="today">
					<h3>今天要浇水：<small>湿度：<span id="humidity">{{humidity}}</span></small></h3>
					<hr>
					<div>
						<div class="panel-group" id="accordion">
							<div *ngFor="let f of toWater" class="panel panel-default" (mouseover)="this.hoverId=f.id" (mouseleave)="this.hoverId=''">
								<div class="panel-heading" id="'heading'+f.id">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" [href]="'#today_'+f.id" aria-expanded="false" (aria-controls)="'today_'+f.id">{{f.name}}</a>
									</h4>
								</div>
								<div [id]="'today_'+f.id" class="panel-collapse collapse">
									<div class="panel-body">
										{{f.id}}<br> 上次浇水是{{f.wateredDaysToNow}}天前
										<br> 每{{f.period}}±{{f.offSet}}天浇一次
										<br> {{f.note}}
										<br> <button type="button" class="btn btn-default" (click)="water(f.id)">已浇水</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>