<div class="modal fade" id="flowerDialog" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="canvas">
					<div *ngFor="let f of flowers" [ngClass]="{'flower':true,'lg-flower':f.isLarge,'sm-flower':!f.isLarge}" [style.left]="f.x"
						[style.top]="f.y">
					</div>
				</div>
				<div id="today">
					<h3>今天要浇水：<small>湿度：<span id="humidity">#错误#</span></small></h3>
					<hr>
					<div></div>
				</div>
			</div>
		</div>
	</div>
</div>